
h1{
    text-align: center;
    color: #639cd9;
}
.btn{
    color: white;
    background-color: #342056;
    align-items: center;
    margin-left: 45%;
    margin-top: 5%;

}
p{
    text-align: center;
    margin-top: 15%;
}